<% content_for :content do %>
<section id="content">
  <section class="vbox">
	  <%= render 'admin/shared/header'%>
	  <section class="scrollable wrapper">
          <section class="panel">
            <header class="panel-heading font-bold">
              <%= @title %> Form
            </header>
            <div class="panel-body">
              <%= form_for(@member, :as => :member, :html => {:class => "form-horizontal"}, :url => admin_members_path) do |f| %>
		   <div class="form-group">
                <label class="col-sm-2 control-label">Company Name</label>
                <div class="col-sm-10">
			   <%= f.text_field :company_name, :class => "form-control"%>
                </div>
              </div>
		   <div class="line line-dashed line-lg pull-in"></div>
		   
		   <div class="form-group">
                <label class="col-sm-2 control-label">First Name(English)</label>
                <div class="col-sm-10">
			   <%= f.text_field :first_name, :class => "form-control"%>
                </div>
              </div>
		   <div class="line line-dashed line-lg pull-in"></div>
		   
		   <div class="form-group">
                <label class="col-sm-2 control-label">Last Name(English)</label>
                <div class="col-sm-10">
			   <%= f.text_field :last_name, :class => "form-control"%>
                </div>
              </div>
		   <div class="line line-dashed line-lg pull-in"></div>
		   
           <div class="form-group">
             <label class="col-sm-2 control-label">Applicant's Name(Chinese)</label>
             <div class="col-sm-10">
			   <%= f.text_field :name, :class => "form-control"%>
             </div>
           </div>
		   <div class="line line-dashed line-lg pull-in"></div>
		   
			   <div class="form-group">
                 <label class="col-sm-2 control-label">Email</label>
                 <div class="col-sm-10">
				   <%= f.email_field :email, :class => "form-control"%>
                 </div>
               </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
			   <div class="form-group">
	                <label class="col-sm-2 control-label">Address</label>
	                <div class="col-sm-10">
				   <%= f.text_area :address, :class => "form-control"%>
	                </div>
	              </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
			   <div class="form-group">
	                <label class="col-sm-2 control-label">Telephone(Mobile)</label>
	                <div class="col-sm-10">
				   <%= f.text_field :mobile_tel, :class => "form-control"%>
	                </div>
	              </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
			   <div class="form-group">
	                <label class="col-sm-2 control-label">Telephone(Office)</label>
	                <div class="col-sm-10">
				   <%= f.text_field :office_tel, :class => "form-control"%>
	                </div>
	              </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
			   <div class="form-group">
	                <label class="col-sm-2 control-label">Fax</label>
	                <div class="col-sm-10">
				   <%= f.text_field :fax, :class => "form-control"%>
	                </div>
	              </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Type of Members</label>
                 <div class="col-sm-10">
					 <div class="col-sm-3">   
                  	   <div class="radio">
                     	  <label><%= f.radio_button :member_location, 0 %>
                       	itSMF HK Chapter Member
                     	</label>
                   		</div>
						<br />
						<br />
						<br />
						<br />

						<div class="radio">
                     	   <label>
		  			   		<%= f.radio_button :member_location, 1 %>
                      	  Global Member of itSMF
                     	</label>
                  	 	</div>
					</div>
                   <div class="col-sm-2">   
					<div class="radio">
						<label>
							<%= f.radio_button :member_type, 0 %>Individual
                    	</label>
                 	</div>
					<div class="radio">
						<label>
							<%= f.radio_button :member_type, 1 %>Corporate
                    	</label>
                 	</div>
				   </div>

                   <div class="col-sm-4">  
					   <label>Member Number</label>
   	                	<div class="col-sm-12">
   				   		 <%= f.text_field :member_number, :class => "form-control"%>
   	                	</div>
				   </div>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Password</label>
                 <div class="col-sm-10">
				   <%= f.password_field :password, :autocomplete => "off" , :class => "form-control"%>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Password Confirmation</label>
                 <div class="col-sm-10">
				   <%= f.password_field :password_confirmation, :class => "form-control"%>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               

                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <a href="/admin/members" class="btn btn-white">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
				<% end %>
            </div>
          </section>
	  </section>
  </section>
</section>
<% end %>

<% content_for :extra_stylesheets do %>
<%= stylesheet_link_tag "admin/select2/select2.css" %>
<%= stylesheet_link_tag "admin/fuelux/fuelux.css" %>
<%= stylesheet_link_tag "admin/datepicker/datepicker.css" %>

<% end %>

<% content_for :extra_javascripts do %>
<!-- fuelux -->
<%= javascript_include_tag "admin/fuelux/fuelux.js"%>
<!-- datepicker -->
<%= javascript_include_tag "admin/datepicker/bootstrap-datepicker.js"%>
<!-- slider -->
<%= javascript_include_tag "admin/slider/bootstrap-slider.js"%>
<!-- file input -->  
<%= javascript_include_tag "admin/file-input/bootstrap.file-input.js"%>
<!-- combodate -->
<%= javascript_include_tag "admin/libs/moment.min.js"%>
<%= javascript_include_tag "admin/combodate/combodate.js" %>
<!-- parsley -->
<%= javascript_include_tag "admin/parsley/parsley.min.js" %>
<%= javascript_include_tag "admin/parsley/parsley.extend.js" %>
<!-- select2 -->
<%= javascript_include_tag "admin/select2/select2.min.js" %>
<!-- wysiwyg -->
<%= javascript_include_tag "admin/wysiwyg/jquery.hotkeys.js" %>
<%= javascript_include_tag "admin/wysiwyg/bootstrap-wysiwyg.js" %>
<%= javascript_include_tag "admin/wysiwyg/demo.js" %>
<% end %>