<% content_for :content do %>
<section id="content">
  <section class="vbox">
	  <%= render 'admin/shared/header'%>
	  <section class="scrollable wrapper">
          <section class="panel">
            <header class="panel-heading font-bold">
              <%= @title %> Form
            </header>
            <div class="panel-body">
              <%= form_for(@event, :as => :event, :html => {:class => "form-horizontal"}, :url => admin_event_path(@event)) do |f| %>
			   <div class="form-group">
                 <label class="col-sm-2 control-label">Title</label>
                 <div class="col-sm-10">
				   <%= f.text_field :title, :class => "form-control"%>
                 </div>
               </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Content</label>
                 <div class="col-sm-10">
				   <%= f.cktext_area :content%>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
			   <div class="form-group">
                 <label class="col-sm-2 control-label">Location</label>
                 <div class="col-sm-10">
				   <%= f.text_field :location, :class => "form-control"%>
                 </div>
               </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Start Time</label>
                 <div class="col-sm-10">
				   <%= f.text_field :start, :class => "combodate form-control", "data-format" => "DD-MM-YYYY HH:mm", "data-template" => "D  MMM  YYYY  -  HH : mm", :value => @event.start.strftime("%d-%m-%Y %H:%M") %>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">End Time</label>
                 <div class="col-sm-10">
				   <%= f.text_field :end, :class => "combodate form-control", "data-format" => "DD-MM-YYYY HH:mm", "data-template" => "D  MMM  YYYY  -  HH : mm", :value => @event.end.strftime("%d-%m-%Y %H:%M") %>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Upload Cover</label>
                 <div class="col-sm-10">
				   <%= f.file_field :cover, :class => "form-control"%>
                 </div>
               </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   <div class="form-group">
                 <label class="col-sm-2 control-label">Tags</label>
                 <div class="col-sm-10">
				   <%= f.text_field :tag_list, :class => "form-control"%>
                 </div>
               </div>
			   <div class="line line-dashed line-lg pull-in"></div>
               
               <div class="form-group">
                 <label class="col-sm-2 control-label">Locale</label>
                 <div class="col-sm-10">
					 <div class="m-b">
					<% @collectionSet = Locale.all%>
                    <%= f.collection_select :locale, @collectionSet, :code, :name, {:include_blank => true}, {:class => 'select2-option', :style => 'width:250px'} %>
					</div>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Template</label>
                 <div class="col-sm-10">
					 <div class="m-b">
					<% @collectionSet2 = DesignedTemplate.all%>
                    <%= f.collection_select :designed_template_id, @collectionSet2, :id, :name, {:include_blank => true}, {:class => 'select2-option', :style => 'width:250px'} %>
					</div>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   

               <div class="form-group">
                 <label class="col-sm-2 control-label">Status</label>
                 <div class="col-sm-10">
					 <div class="m-b">
                    <%= f.select(:status, {"Suspend" => 0, "Active" => 1}, {}, {:class => 'select2-option', :style => 'width:250px'})%>
					</div>
                 </div>
               </div>
               <div class="line line-dashed line-lg pull-in"></div>
			   
               <div class="form-group">
                 <label class="col-sm-2 control-label">Publish Date</label>
                 <div class="col-sm-10">
				   <%= f.text_field :publish_date, :class => "input-sm input-s datepicker-input form-control", "data-date-format" => "dd-mm-yyyy"%>
                 </div>
               </div>
			   <div class="line line-dashed line-lg pull-in"></div>
			   
                <div class="form-group">
                  <div class="col-sm-4 col-sm-offset-2">
                    <a href="/admin/events" class="btn btn-white">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
				<% end %>
            </div>
          </section>
	  </section>
  </section>
</section>
<% end %>

<% content_for :extra_stylesheets do %>
<%= stylesheet_link_tag "admin/select2/select2.css" %>
<%= stylesheet_link_tag "admin/fuelux/fuelux.css" %>
<%= stylesheet_link_tag "admin/datepicker/datepicker.css" %>

<% end %>

<% content_for :extra_javascripts do %>
<!-- fuelux -->
<%= javascript_include_tag "admin/fuelux/fuelux.js"%>
<!-- datepicker -->
<%= javascript_include_tag "admin/datepicker/bootstrap-datepicker.js"%>
<!-- slider -->
<%= javascript_include_tag "admin/slider/bootstrap-slider.js"%>
<!-- file input -->  
<%= javascript_include_tag "admin/file-input/bootstrap.file-input.js"%>
<!-- combodate -->
<%= javascript_include_tag "admin/libs/moment.min.js"%>
<%= javascript_include_tag "admin/combodate/combodate.js" %>
<!-- parsley -->
<%= javascript_include_tag "admin/parsley/parsley.min.js" %>
<%= javascript_include_tag "admin/parsley/parsley.extend.js" %>
<!-- select2 -->
<%= javascript_include_tag "admin/select2/select2.min.js" %>


<% end %>