<div id="secondary" class="grid_4 widget-area" role="complementary">

					<!-- Widget Archive -->
					<aside id="archives" class="widget">
						<div class="widget-title">	
							<h3>Archives</h3>
							<div class="clear"></div>
						</div>

						<ul>
						<% @posts_by_month = Article.order("publish_date DESC").all.group_by { |post| post.publish_date.strftime("%B %Y") } %>
						<% @posts_by_month.each do |monthname, posts| %>
							<li><a href="/articles/archive/<%= monthname.to_date.strftime("%m") %>/<%= monthname.to_date.strftime("%Y") %>" title="<%= monthname %>"><%= monthname %></a></li>
						<% end %>
						</ul>
					</aside>


					<!-- Widget Tags -->
					<aside id="tag_cloud-2" class="widget widget_tag_cloud">	
						<div class="widget-title">
							<h3>Tags</h3>
							<div class="clear"></div>
						</div>

						<div class="tagcloud">
							
							<% for tag in Article.tag_counts_on(:tags) %>
							  <%#= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
							<a href="/articles/article-tags/<%= tag.name %>/search" class="tag-link-27" title="<%= tag.name %>"><%= tag.name %></a>
							<% end %>
							
						</div>
					</aside>





					<!-- Widget Latest posts -->
					<aside id="pages" class="widget">
						<div class="widget-title">	
							<h3>Latest Posts</h3>
							<div class="clear"></div>
						</div>
						<ul>
							<% for a in Article.order("publish_date DESC").limit(5)%>
							<li><a href="/articles/<%= a.id %>/<%= a.browser_url %>" title="<%= a.browser_title %>"><%= a.browser_title %></a></li>
							<% end %>
							
						</ul>
					</aside>

				</div>
<div class="clear"></div>