<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>THE ADVITOR | CONTENT MANAGEMENT SYSTEM</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "admin/bootstrap.css"%>
  <%= stylesheet_link_tag "admin/animate.css"%>
  <%= stylesheet_link_tag "admin/font-awesome.min.css"%>
  <%= stylesheet_link_tag "admin/font.css"%>
  
  <%= yield(:extra_stylesheets)%>
  
  <%= stylesheet_link_tag "admin/plugin.css"%>
  <%= stylesheet_link_tag "application"%>
  <%= stylesheet_link_tag "admin/app.css"%>
  <!--[if lt IE 9]>
    <script src="js/ie/respond.min.js" cache="false"></script>
    <script src="js/ie/html5.js" cache="false"></script>
    <script src="js/ie/fix.js" cache="false"></script>
  <![endif]-->
	 	<%= javascript_include_tag "application"%>
		
</head>
<body>
  <section class="hbox stretch">
    <!-- .aside -->
    <aside class="bg-success dker aside-sm nav-vertical" id="nav">
      <section class="vbox">
        <header class="bg-black nav-bar">
          <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
            <i class="fa fa-bars"></i>
          </a>
          <a href="#" class="nav-brand" data-toggle="fullscreen">Portal</a>
          <a class="btn btn-link visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-comment-o"></i>
          </a>
        </header>
        <section>
			<%= render 'admin/shared/menu' %>
        </section>
        <footer class="footer bg-gradient hidden-xs">
			<!--
		  <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-sm btn-link m-r-n-xs pull-right">
            <i class="fa fa-power-off"></i>
			
          </a>-->
          <a href="#nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link m-l-n-sm">
            <i class="fa fa-bars"></i>
          </a>
        </footer>
      </section>
    </aside>
    <!-- /.aside -->
	<%= yield(:content)%>
  </section>
  <%#= javascript_include_tag "admin/jquery.min.js"%>
  <!-- Bootstrap -->
  <%= javascript_include_tag "admin/bootstrap.js"%>
  <!-- App -->
  <%= javascript_include_tag "admin/app.js" %>
  <%= javascript_include_tag "admin/app.plugin.js" %>
  <%= javascript_include_tag "admin/app.data.js" %>
  <%= javascript_include_tag "admin/libs/jquery.pjax.js" %>
  

  <%= yield(:extra_javascripts)%>
  <%#= javascript_include_tag "application"%>
</body>
</html>